<div>
    <form ng-submit="newNovel()">
        <div class="form-group" style="width:50%">
            Novel Name: <input type="text" class="form-control" ng-model="novel.name"/><br/> 
            Status: <input type="text" class="form-control" ng-model="novel.status"/><br/>
            Chapters Read: <input type="text" class="form-control" ng-model="novel.read"/><br/>
            Total Chapters: <input type="text" class="form-control" ng-model="novel.total"/><br/>
            <input type="button" class="btn btn-default" value="Submit"/>
        </div>
    </form>
</div>