<div>
	<div>
		<!-- csv contents -->
		<!-- <csvRead/> NOT NEEDED--> 
		<table>
			<!-- <tr>
				<th ng-repeat="(key, value) in data[0]">
					{{key}}
				</th>
			</tr> -->
			<tr><select type="text" ng-model="rate" ng-options="item for item in rates" ng-change="updateRate()"/></select></tr>
			<tr>
                <td>S.No</td>
                <td>Title</td>      <!--link to the novel page(novelupdates/lnmtl)-->
                <td>Status</td>     <!--completed or in-progress-->
                <td>Read</td>   <!--Progress bar-->
                <td>Total</td>       <!--number of novels per day(must be able to change and see the difference in ETA)-->
                <td>Progress</td>        <!--in days(could be changed to months)-->
                <td>ETA</td>
            </tr>
    		<tr ng-repeat="x in data">
     			<td ng-repeat="y in x">{{ y }}</td>
    		</tr>
  		</table>
	</div>
</div>