<div>
    <table>
        <thead>
            <tr>
                <td>S.No</td>
                <td>Title</td>      <!--link to the novel page(novelupdates/lnmtl)-->
                <td>Status</td>     <!--completed or in-progress-->
                <td>Progress</td>   <!--Progress bar-->
                <td>Rate</td>       <!--number of novels per day(must be able to change and see the difference in ETA)-->
                <td>ETA</td>        <!--in days(could be changed to months)-->
            </tr>
        </thead>
        <tbody>
            <!--populate the table-->
        </tbody>
    </table>
</div>